<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="/images/site/ghostwatch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.3.0/dist/photoswipe.css">
  <link rel="stylesheet" href="/css/photoswipe-dynamic-caption-plugin.css">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="Keeping up with everything Project Ghost">
  <meta property="og:image" content="/images/site/ghostwatch-icon.png">
  <meta property="og:url" content="https://GhostWatch.boo/">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="GhostWatch">
</head>
<body>
  <div class="page-wrapper">

<header class="header">
  <div class="header-container">
    <a href="/" class="site-logo">
      <img src="/images/site/ghostwatch-icon.png" alt="GhostWatch Logo">
    </a>
    <nav class="navbar">
      <ul>
        <li>
          <a href="/" class="nav-link" data-link="home">Home</a>
        </li>
        <li>
          <a href="/gallery" class="nav-link" data-link="gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
    <main class="main">
      {{ content }}
    </main>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section left">
          <h2>Official</h2>
          <p>FPC's Official Social Media:</p>
          <div class="footer-icons">
            <a href="https://bsky.app/profile/fpcstudio.bsky.social" target="_blank"><img src="/images/site/bluesky-icon.png" alt="Bluesky" /></a>
            <a href="https://www.linkedin.com/company/fantastic-pixel-castle" target="_blank"><img src="/images/site/linkedin-icon.png" alt="Linkedin" /></a>
            <a href="https://www.youtube.com/@FantasticPixelCastle" target="_blank"><img src="/images/site/youtube-icon.png" alt="YouTube" /></a>
            <a href="https://x.com/FPCStudio" target="_blank"><img src="/images/site/x-icon.png" alt="X" /></a>
          </div>
        </div>

        <div class="footer-section right">
          <h2>Community</h2>
          <p>Unofficial Community</p>
          <div class="footer-icons">
            <a href="https://discord.gg/BmUqqm45h2" target="_blank"><img src="/images/site/discord-icon.svg" alt="Discord" /></a>
          </div>
        </div>
      </div>

      <div class="footer-disclaimer">
        <p>This site is a fan project and is not affiliated with Fantastic Pixel Castle or Project Ghost.</p>
      </div>
    </footer>

  </div>
 <script src="/js/main.js"></script> 
</body>
</html>